/* shared styles */

/* css for font family */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

header,
main {
    margin: 0 auto;
    max-width: 1120px;
}

section {
    margin-bottom: 100px;
}

.primary-btn {
    border-radius: 8px;
    background: #ff5500c7;
    padding: 20px;
    border: 0;
    outline: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #FF5400;
}

/* header part css start  */

/* css for navigation var */

.nav-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background: rgba(122, 122, 122, 0.26);
    padding: 0 16px;
    border-radius: 16px;
}

.nav-elements ul li {
    list-style: none;
}

.nav-button {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.header {
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/headerImage.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 150px;
    border-radius: 16px;
}

.header-title,
.news-latter-title,
.website-title,
.discount-percent,
.discount-site {
    color: #FFF;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 20px;
}

.banner-description,
.discount-site,
.nav-button {
    font-size: 1rem;
    font-weight: 400;
}

.inputs {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

select,
.inputs input[type=text] {
    color: rgba(24, 19, 19, 0.5);
    padding: 20px 10px;
    border: 0;
    outline: 0;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
}

/* css for main part  */
/* first part css  */

.first-section {
    display: flex;
    gap: 30px;
}

.website-title,
.news-latter-title,
.company-name {
    color: #131318;
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.website-description {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.color13 {
    color: #131318;
}

/* destination/ second part  */

.second-destination-part {
    text-align: center;
}

.destination-img-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.destination-img-flex>div {
    margin-top: 20px;
}

.road,
.road-2,
.home,
.home-1,
.home-2,
.river,
.river-1 {
    background-image: url('../Images/destination1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    width: 550px;

}

.road-2 {
    background-image: url('../Images/destination5.png');
}

.home {
    background-image: url('../Images/destination2.png');
    width: 355px;
}

.home-1 {
    background-image: url('../Images/destination3.png');
    width: 455px;
}

.home-2 {
    background-image: url('../Images/destination6.png');
    width: 255px;
}

.river {
    background-image: url('../Images/destination4.png');
    width: 445px;
}

.river-1 {
    background-image: url('../Images/destination7.png');
    width: 645px;
}


.image-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    padding: 120px 0;
}

/* third part css start */
.third-section>h2,
.third-section>p {
    text-align: center;
}

.choose-us {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.hondipicked {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.world-class {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price-guarantee {
    margin: 20px auto;
    width: 480px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* optional part css */

.optional-part>article {
    margin-bottom: 30px;
}

.optional-part1,
.optional-part2 {
    background-image: url('../Images/beach1.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    padding: 70px 50px 70px 500px;
}

.optional-part2 {
    background-image: url('../Images/beach.png');
    padding: 70px 500px 70px 50px;
}



.optional-card1 {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px 30px;
}

.price-range{
    color: #FF5400;
font-size: 1.25rem;
font-weight: 800;
}
/* news latter section start  */

.news-latter {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: -50px 0;
}

.news-latter-title,
.discount-site {
    font-size: 1.5rem;
}

.news-latter-input-form {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 10px 30px;
}

.form-input input[type=text],
.form-input input[type=email] {
    background-color: rgba(19, 19, 24, 0.05);
    padding: 20px 0 20px 10px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    width: 98%;
    font-size: 1rem;
    margin-bottom: 16px;
}

#subscribe {
    width: 100%;
}

.discount {
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    position: relative;
    bottom: 220px;
    left: 290px;
    transform: rotate(-20deg);
}

.discount-percent {
    font-size: 2rem;
    margin-top: -10px;
}


/* css for footer part  */

.footer {
    text-align: center;
    padding: 80px 350px;
    background: rgba(19, 19, 24, 0.05);
}

.travel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-name,
.company-title {
    font-size: 2rem;
    font-weight: 800;
}

.company-title {
    color: #FF5400;
}

.social-icons {
    justify-content: center;
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

hr {
    height: 1px;
}

/* responsive for small device */

@media screen and (max-width: 576px) {
    * {
        margin: 0;
        padding: 5px;
    }

    .header {
        height: 460px;
        padding: 20px;
    }

    .header-title,
    .website-title,
    .image-title,
    .discount-percent,
    .company-name {
        font-size: 1.5rem;
    }

    .banner-description {
        font-size: 0.7rem;
    }

    .first-section,
    .inputs,
    .news-latter,
    .destination-img-flex,
    .choose-us,
    .nav-elements,
    .nav-button {
        flex-direction: column;
        gap: 16px;
    }

    .first-section-img img,
    .news-latter img,
    .road,
    .road-2,
    .home,
    .home-1,
    .home-2,
    .river,
    .river-1 {
        width: 100%;
    }

    .discount {
        width: 50%;
        height: 80px;
        bottom: 180px;
        left: 40%;
    }

    .footer,
    .optional-part1,
    .optional-part2 {
        padding: 30px;
    }

    .price-guarantee {
        width: 85%;
    }
}

/* responsive for medium device */

@media screen and (min-width: 576px) and (max-width:992px) {
    * {
        margin: 0;
        padding: 10px;
    }

    .header {
        height: 460px;
        padding: 20px;
    }

    .header-title,
    .website-title,
    .image-title,
    .discount-percent,
    .company-name {
        font-size: 1.5rem;
    }

    .banner-description {
        font-size: 0.7rem;
    }

    .first-section,
    .inputs,
    .news-latter,
    .destination-img-flex,
    .choose-us,
    .nav-elements {
        flex-direction: column;
        gap: 16px;
    }

    .first-section-img img,
    .news-latter img,
    .road,
    .road-2,
    .home,
    .home-1,
    .home-2,
    .river,
    .river-1 {
        width: 100%;
    }

    .discount {
        width: 50%;
        height: 80px;
        bottom: 220px;
        left: 40%;
    }

    .footer {
        padding: 50px;
    }

    .optional-part1{
        padding: 40px 40px 40px 150px;
    }
    .optional-part2 {
padding: 40px 150px 40px 40px;
    }

    .price-guarantee {
        width: 85%;
    }
}